/*header style*/
.headers {
	position: relative;
}
.bg-section {
	/*background-image: url(); */
	background-image: url("../images/AdobeStock_194293024_carkeys.jpeg");
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: relative;
	top: 0;
	left: 0;

	z-index: -1;
}

.landing-text {
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.search-text {
	color: white;
	font-weight: bold;
	top: 70%;
	left: 25%;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.search-text {
		left: 0;
	}
}
 

.search-fluid {
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.headers .btn {
	background-color: rgba(51, 143, 223);
}

.navbar-dark {
	background-color: rgba(51, 143, 223, 0.8);
}

/* About Us style*/

#aboutus {
	margin: 4em 0;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgb(255, 255, 255);
}

#aboutus h3 {
	margin: 2em;
	color: rgb(45, 155, 239);
	text-align: center;
}

.about img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.about .desc {
	padding: 2em;
	border-left: 4px solid rgb(45, 155, 239);
}

.about .desc p {
	line-height: 2;
	color: #888;
}

.container-fluid {
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.row {
	margin-right: 0px;
}
/* search Styles */

.search {
	margin-top: 0;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	padding-left: 2.5em;
}

.search h1 {
	color: rgba(51, 143, 223);
	padding-top: 2em;
}

.search h5 {
	padding-top: 1em;
}

.search .card-body {
	box-shadow: 0 0 20px #ccc;
	background-color: white;
	color: white;
	padding: 1em;
	background-color: rgba(51, 143, 223);
}
.search .card img {
	height: 20vw;
	max-width: 100%;
	object-fit: contain;
	
	
}

.search .card {
	
}

.search .card-footer {
	background-color: rgba(51, 143, 223);
}

.search a {
	color: rgba(255, 255, 255);
}

.site-footer {
	background-color: rgba(51, 143, 223);
	color: white;
	padding: 20px 0;
}

.site-footer a {
	color: white;
}
